
.dropDown-Options-div {
	display: flex;
	flex-direction: column;
	background-color: green;
	align-items: center;
    width: fit-content;
}
.dropDown-Options {
    display: flex;
    flex-direction: column;
   align-self: flex-start;
}
.slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
}
.navigation-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
}
.navigation-button {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-self: flex-start;
   margin: 2px;
}