
.dropDown-Options-div {
	display: flex;
	flex-direction: column;
	background-color: green;
	align-items: center;
    width: fit-content;
}
.dropDown-Options {
    display: flex;
    flex-direction: column;
   align-self: flex-start;
}